
body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
}

/* Hero Top Area */ 

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation > ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero Main Area */

.main {
    flex-basis: 1000px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    gap: 10%;
}

.heroText {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: flex-start;
    justify-content: flex-start;
}

.heroText > h1 {
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
}

.heroText > button {
    background-color: #3882F6; 
    color: #E5E7EB;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    padding: 10px 30px;
}

.heroImage {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.heroImage > img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer {
    text-align: center;
}

/* Info Section */

.information, .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.mediumheader {
    text-align: center;
    padding-bottom: 20px;
}

.informationItems {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap: 5%;
}

.item {
    flex-basis: 20%;
    text-align: center;
}

.item > img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Quote Section */

.quote {
    padding: 40px 0;
    background-color: #E5E7EB;
}

.quotetext {
    font-style: italic;
    font-size: 28px;
    font-weight: lighter;
    color: #1F2937;
    padding-left: 50px;
}

.quoteby {
    font-size: 18px;
    text-align: right;
    font-weight: bolder;
}


/* Main Stage Design */

.lightblue {
    background-color: #3882F6;
}

.largetext {
    font-size:36;
    color: #1F2973;
    font-weight:900;
}


.callAction {
    border-radius: 20px;
    margin: 40px;
    display: flex;
}

